body
  background-color #0969A3

header
  background-color #03436A
  color #D7EFFD
  h1
    font-size 3em
    a
      color #F2F2F2
      &:hover
      &:visited
        color #F2F2F2
  h2
    font-size 1.6em

.navbar
  margin 0 -15px 20px

.jumbotron
  margin-bottom 0

.container-content
  background-color white
