bgcol = #0969A3

body
  background-color bgcol

header .container
  background-color darken(bgcol, 15%)
  color #D7EFFD
  h1
    font-size 3em
    a
      color #F2F2F2
      &:hover
      &:visited
        color #F2F2F2
  h2
    font-size 1.6em

h1, h2, h3, h4, h5, h6
  font-family "Varela Round", "Helvetica Neue", Arial, sans-serif

.navbar
  margin 0 -15px 20px

.jumbotron
  margin-bottom 0

.container-content
  background-color white
  -webkit-border-bottom-right-radius 5px
  -webkit-border-bottom-left-radius 5px
  -moz-border-radius-bottomright 5px
  -moz-border-radius-bottomleft 5px
  border-bottom-right-radius 5px
  border-bottom-left-radius 5px
